@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background-color: #f7f8fa;
  transform: translate(10px);
}

::-webkit-scrollbar-thumb {
  background-color: #1fa45b;
  border-radius: 2px;
}
